<% title 'Change password'%> 

<p>Please enter the new password and press "Update Password".</p>

<%= form_tag password_update_users_path, :method => :post do %>
	<p>
		<%= label_tag :old_password%><br>
		<%= password_field_tag :old_password%>		
	</p>
	<p>
		<%= label_tag :password%><br>
		<%= password_field_tag :password%>		
	</p>
	<p>
		<%= label_tag :password_confirmation%><br>
		<%= password_field_tag :password_confirmation%>		
	</p>
	<p>
		<%= submit_tag "Update Password" %>
    </p>
<% end %>
