<% title 'Edit My Account'%>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
  	<%= f.label :login, "Username" %><br />
	<%= f.text_field :login, :readonly => true %>
  </p>
  <p>
	<%= f.label :email %><br />
	<%= f.text_field :email %>
  </p>	
  <p>
  	<%= f.submit "Update" %>
  </p>
<% end %>

<br /><%= link_to "My Profile", user_path %>